<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.frodo.android.app.simple">

    <supports-screens
            android:anyDensity="true"
            android:largeScreens="true"
            android:normalScreens="true"
            android:resizeable="true"
            android:smallScreens="true"/>

    <application
            android:allowBackup="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:name="com.frodo.app.android.simple.SimpleApplication"
            android:theme="@style/AppTheme">

        <activity
                android:name="com.frodo.app.android.simple.MainActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.frodo.app.android.ui.activity.RedirectActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="redirect"
            tools:node="merge">
            <intent-filter tools:node="replace">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="appArchitectureSimple"
                    android:host="redirect"
                    tools:replace="scheme" />
            </intent-filter>
            <meta-data
                android:name="REDIRECT_SCHEME_KEY"
                android:value="appArchitectureSimple"
                tools:replace="value" />
        </activity>
    </application>

</manifest>
