<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
          tools:overrideLibrary="com.android.app.framework"
          xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.android.app">

    <application>
        <meta-data
            android:name="com.frodo.app.android.core.network.integration.okhttp.OkHttpModule"
            android:value="HttpModule"/>
        <activity
            android:name="com.frodo.app.android.ui.activity.RedirectActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="redirect">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:scheme="app"
                    android:host="redirect"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
