<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    tools:overrideLibrary="com.android.app.framework"
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.app">

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <application>
        <meta-data
            android:name="com.frodo.app.android.core.network.integration.okhttp.OkHttpModule"
            android:value="HttpModule" />

        <!--must define same scheme and meta-data value, like {frodo}-->
        <activity
            android:name="com.frodo.app.android.ui.activity.RedirectActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="redirect">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="frodo"
                    android:host="redirect" />
            </intent-filter>
            <meta-data
                android:name="REDIRECT_SCHEME_KEY"
                android:value="frodo" />
        </activity>
        <service android:name="com.frodo.app.android.core.toolbox.AndroidLeakUploadService" />
    </application>

</manifest>
